<!-- @APComponentHTML -->

<ng-container *ngFor="let componentStringKey of componentPropsString">
  <h2>PROP: {{ componentStringKey }}</h2>
  <input 
    [(ngModel)]="componentProps[componentStringKey]"
    (ngModelChange)="changePropString($event, componentStringKey)"
    type="text" />
</ng-container>

<ng-container *ngFor="let componentBooleanKey of componentPropsBoolean">
  <h2>PROP: {{ componentBooleanKey }}</h2>
  <select [(ngModel)]="componentProps[componentBooleanKey]" (ngModelChange)="changePropBoolean($event, componentBooleanKey)">
    <option value="true">true</option>
    <option value="false" selected="selected">false</option>
  </select>
</ng-container>

<ng-container *ngFor="let componentNumberKey of componentPropsNumber">
  <h2>PROP: {{ componentNumberKey }}</h2>
  <input 
    [(ngModel)]="componentProps[componentNumberKey]"
    (ngModelChange)="changePropNumber($event, componentNumberKey)"
    type="number" />
</ng-container>

<ng-container *ngFor="let componentPropsUnionItem of componentPropsUnion">
  <h2>PROP: {{ componentPropsUnionItem.key }}</h2>
  <select [(ngModel)]="componentProps[componentPropsUnionItem.key]" (ngModelChange)="changePropUnion($event, componentPropsUnionItem.key)">
    <option 
      *ngFor="let componentPropsUnionValue of componentPropsUnionItem.values" 
      [attr.value]="componentPropsUnionValue"
    >
      {{ componentPropsUnionValue }}
  </option>
  </select>
</ng-container>

<router-outlet></router-outlet>
